{% extends 'base.html' %}
{% load static %}

{% block title %}
Dashboard {{ business.name }}
{% endblock %}

{% block description %}
Dashboard {{ business.name }}
{% endblock %}

{% block style %}
<style>
    .business {
        background-color: #fff;
        min-height: 105px;
    }
    .thumbnail-div {
        width: 35%;
        padding-bottom: 15.75%;
    }
    .info-div {
        width: 65%;
        z-index: 1;
    }
    .thumbnail-div img{
        top: 0;
        left: 0;
        height: 100%;
        max-width: 100%;
    }
    .card-text{
        max-height: 20px;
        overflow: hidden
    }
    .ratings {
        position: relative;
        display: inline-block;
        color: #b1b1b1;
        overflow: hidden;
        vertical-align: middle;
    }
      
    .full-stars{
        position: absolute;
        left: 0;
        top: 0;
        white-space: nowrap;
        overflow: hidden;
        color: tomato;
    }
    .empty-stars:before,
    .full-stars:before {
        content: "\2605\2605\2605\2605\2605";
        font-size: 17pt;
    }
    .center {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 90%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
    }
    .more:hover {
        background-color: #f0f0f1;
        border-radius: 5px;
        cursor: pointer;
    }
</style>
{% endblock %}

{% block content %}
    <div id="main-div">
        <h4 class="p-3 bg-white m-0">Your Businesses</h4>
        {% if businesses %}
          <div id="business">
            {% for business in businesses %}
              <div class="business d-flex border-bottom position-relative">
                  <div class="thumbnail-div">
                    <img src="{% static 'images/Lazy1.png' %}" data-src="{{ business.thumbnail.url }}" class="lazy position-absolute" role="img">
                  </div>
                  <div class="p-1 info-div bg-white">
                    <p class="purple ml-2">{{ business.category.name }}</p>
                    <h6 class="ml-2 mt-2 card-text">{{ business.name }}</h6>
                    <div class="ratings ml-2">
                      <div class="empty-stars"></div>
                      <div class="full-stars" style="width: calc({% if business.rating.rating__avg != None %}{{ business.rating.rating__avg }}{% else %}0{% endif %}/5*100%)"></div>
                    </div>
                  </div>
                  <a href="{% url 'business-detail' business.slug %}" class="stretched-link"></a>
              </div>
            {% endfor %}
        </div>
        <div class="text-center p-2 bg-white" id="more-div">
          <span class="p-2 purple more font-weight-bold m-2" id="more">Load More</span>
        </div>
        <div id="loading-div" class="mt-4 purple" style="display: none;">
            <div class="d-flex justify-content-center">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
        </div>
        {% else %}
          <div class="position-relative" style="height: 80vh;">
            <div class="center text-center text-muted">
                <h5>You have not created any business profile yet</h5>
                <h5>Profiles you create will appear here</h5>
                <p class="mt-3"><a href="{% url 'create-business' %}" style="color: #007BFF">Create Business</a></p>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascript %}
<script>
    let div = document.getElementById('business');
    if(div){
        let more = document.getElementById('more-div');
        if(div.childElementCount < 15){
            more.style.display = "none"
        }
    };
    var lazy = document.getElementsByClassName('lazy');
    function lazyLoad(img){
        if(!!window.IntersectionObserver){
            let observer = new IntersectionObserver((entries, observer) => { 
            entries.forEach(entry => {
                if(entry.isIntersecting){
                    entry.target.src = entry.target.dataset.src;
                    observer.unobserve(entry.target);
                }
            });
            }, {rootMargin: "0px 0px 0px 0px"});
            observer.observe(img);
        }
    };

    for(var index=0;index < lazy.length;index++){
        lazyLoad(lazy[index]);
    };
    var webRoot = "{{ web_root }}";
    var page = 2;
    $('#more').click(()=>{
        $('#more-div').hide();
        $('#loading-div').show();
        $.ajax({
            method: "GET",
            url: "{% url 'dashboard' %}",
            data: {
                page: page
            },
            success: (response)=>{
                page += 1;
                $.each(response.business, (index, business)=>{
                  if(business.rating.rating__avg != null){
                      var rating = business.rating["rating__avg"]
                    } else {
                      var rating = 0
                    };
                    $('#business').append(`
                      <div class="business d-flex border-bottom position-relative">
                        <div class="thumbnail-div">
                          <img src="{% static 'images/Lazy1.png' %}" data-src="${business["image"]}" class="lazy position-absolute" role="img">
                        </div>
                        <div class="p-1 info-div bg-white">
                          <p class="purple ml-2">${business["category"]}</p>
                          <h6 class="ml-2 card-text">${business["name"]}</h6>
                          <div class="ratings ml-2">
                            <div class="empty-stars"></div>
                            <div class="full-stars" style="width: calc(${rating}/5*100%)"></div>
                          </div>
                        </div>
                        <a href="${webRoot}${business["url"]}" class="stretched-link"></a>
                      </div>
                    `)
                })
                $('#loading-div').hide();
                $('#more-div').show();
                for(var index=0;index < lazy.length;index++){
                    lazyLoad(lazy[index]);
                };
                if(response.has_next == false || response == ""){
                    $('#more-div').hide();
                }
            }
        })
    })
</script>
{% endblock %}