{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ request.GET.q }}
{% endblock %}

{% block description %}
Search for Businesses and services near you
{% endblock %}

{% block content %}
  <div id="main-div">
    {% if search_type == "products" %}
      {% if products %}
        <h5 class="bg-white rounded-top p-3 ml-0 mr-0" style="margin-top: 55px">Products near you</h5>
        <span class="d-flex border-bottom bg-white p-2 m-0">
          <p class="text-center mr-4 p-2">Search for businesses instead?</p>
          <a href="?q={{ request.GET.q }}" class="btn btn-secondary">Search</a>
        </span>
        <div class="row products bg-white" id="products">
          {% for product in products %}
            <div class="card home-product-card m-1 rounded-bg shadow-sm">
              <div class="product-image-div position-relative">
                <img class="lazy position-absolute" src="{% static 'images/my_official_logo.png' %}" data-src="{{ product.image.url }}" role="img" alt="{{ business.name }}">
              </div>
              <div class="card-body">
                <p class="badge badge-success">
                  {% if product.distance.m < 1000 %}
                    {{ product.distance.m | floatformat:"0" }} m
                  {% else %}
                    {{ product.distance.km | floatformat:"1" }} km
                  {% endif %}
                </p>
                <p class="card-text">{{ product.name }}</p>
                <div class="ratings">
                  <div class="empty-stars"></div>
                  <div class="full-stars" style="width: calc({{ product.rating }}/5*100%)"></div>
                </div>
                {% if product.price != None %}
                  <p class="m-0">{{ product.currency }} {{ product.price }}</p>
                {% endif %}
                <a href="{% url 'product-detail' product.business.slug product.slug %}" class="stretched-link"></a>
              </div>
              <div class="pl-2 pr-2 pb-2 pt-0" style="z-index: 1;">
                <button class="save not-saved btn shadow-none" data-save="{% url 'save-product' product.slug %}">Save For Later</button>
              </div>
            </div>
          {% endfor %}
        </div>
        <span class="back-to-top position-fixed rounded d-none shadow p-3 bg-white">
          <span class="icon-angle-up"></span>
          <span>Back To Top</span>
        </span>

        <div class="bg-white p-2 border-top" id="pagination">
          {% if products.has_previous %}
            <a class="btn btn-outline-primary" href="?q={{ request.GET.q }}&page=1" data-page="1">First</a>
            <a class="btn btn-outline-primary" href="?q={{ request.GET.q }}&page={{ products.previous_page_number }}" data-page="{{ paginator.previous_page_number }}">Previous</a>
          {% endif %}
  
          {% for num in products.paginator.page_range %}
            {% if products.number == num %}
              <a class="btn btn-primary" href="?q={{ request.GET.q }}&page={{ num }}" data-page="{{ num }}">{{ num }}</a>
            {% elif num > products.number|add:'-1' and num < products.number|add:'1' %}
              <a class="btn btn-outline-primary" href="?q={{ request.GET.q }}&page={{ num }}" data-page="{{ num }}">{{ num }}</a>
            {% endif %}
          {% endfor %}
  
          {% if products.has_next %}
            <a class="btn btn-outline-primary" href="?q={{ request.GET.q }}&page={{ products.next_page_number }}" data-page="{{ paginator.next_page_number }}">Next</a>
          {% endif %}
        </div>
      {% else %}
        <div class="position-relative" style="height: 80vh;">
          <div class="font-weight-bold center text-center text-muted">
            <span class="icon-search" style="font-size: 60px;"></span>
            <h5 class="mt-3">No results found for "{{ request.GET.q }}"</h5>
          </div>
        </div>
      {% endif %}
    {% else %}
    <!--
      {% if products %}
        <div class="product-div position-relative">
          <h5 class="bg-white rounded-top p-3 mt-6 ml-0 mr-0">Products near you</h5>
            <div class="scrolling-wrapper d-flex">
              {% for product in products %}
                <div class="card product-card">
                  <div class="position-relative product-image-div">
                    <img class="lazy position-absolute" src="{% static 'images/Lazy.png' %}" data-src="{% if product.low_image %}{{ product.low_image.url }}{% else %}{{ product.image.url }}{% endif %}" alt="{{ product.name }}">
                  </div>
                  <div class="card-body p-1">
                    <p class="card-text">{{ product.name }}</p>
                    <div class="ratings">
                      <div class="empty-stars"></div>
                      <div class="full-stars" style="width: calc({{ product.rating }}/5*100%)"></div>
                    </div>
                    {% if product.price != None %}
                      <p class="text-muted m-0">{{ product.currency }} {{ product.price }}</p>
                    {% endif %}
                  </div>
                  <a href="{% url 'product-detail' product.slug %}" class="stretched-link"></a>
                </div>
              {% endfor %}
            </div>
            <div class="scroller position-absolute">
              <div id="scroll" class="position-absolute">
                <p class="rounded-circle shadow pointer purple bg-white"><span class="icon-angle-right"></span></p>
              </div>
            </div>
        </div>
      {% endif %}
      -->
      {% if businesses %}
        <h5 class="bg-white rounded-top p-3 mt-1 ml-0 mr-0">Businesses near you</h5>
        <span class="d-flex border-bottom bg-white p-2 m-0">
          <p class="text-center mr-4 p-2">Search for Products instead?</p>
          <a href="?q={{ request.GET.q }}&type=products" class="btn btn-secondary">Search</a>
        </span>
        {% for business in businesses %}
          <div class="search border-bottom position-relative" style="min-height: 105px;">
            <div class="thumbnail-div">
              <img src="{% static 'images/Lazy1.png' %}" data-src="{{ business.thumbnail.url }}" class="lazy position-absolute" role="img">
            </div>
            <div class="p-1 info-div bg-white" style="z-index: 1;">
              <p class="purple ml-2">{{ business.category.name }}</p>
              <p class="ml-2 mt-2 card-text">{{ business.name }}</p>
              <div class="d-flex">
                <div class="ratings ml-2">
                  <div class="empty-stars"></div>
                  <div class="full-stars" style="width: calc({% if business.rating.rating__avg != None %}{{ business.rating.rating__avg }}{% else %}0{% endif %}/5*100%)"></div>
                </div>
                <p class="ml-2 mt-2 badge badge-success">
                  {% if business.distance.m < 1000 %}
                    {{ business.distance.m | floatformat:"0"}} m
                  {% else %}
                    {{ business.distance.km | floatformat:"1"}} km
                  {% endif %}
                </p>
                </span>
              </div>
            </div>
            <a href="{% url 'business-detail' business.slug %}" class="stretched-link"></a>
          </div>
        {% endfor %}

        <div class="bg-white p-2" id="pagination">
          {% if businesses.has_previous %}
            <a class="btn btn-outline-primary" href="?q={{ request.GET.q }}&type=business&page=1" data-page="1">First</a>
            <a class="btn btn-outline-primary" href="?q={{ request.GET.q }}&type=business&page={{ businesses.previous_page_number }}" data-page="{{ businesses.previous_page_number }}">Previous</a>
          {% endif %}
  
          {% for num in businesses.paginator.page_range %}
            {% if businesses.number == num %}
              <a class="btn btn-primary" href="?q={{ request.GET.q }}&type=business&page={{ num }}" data-page="{{ num }}">{{ num }}</a>
            {% elif num > businesses.number|add:'-1' and num < businesses.number|add:'1' %}
              <a class="btn btn-outline-primary" href="?q={{ request.GET.q }}&type=business&page={{ num }}" data-page="{{ num }}">{{ num }}</a>
            {% endif %}
          {% endfor %}
  
          {% if businesses.has_next %}
            <a class="btn btn-outline-primary" href="?q={{ request.GET.q }}&type=business&page={{ businesses.next_page_number }}" data-page="{{ businesses.next_page_number }}">Next</a>
          {% endif %}
        </div>
      {% else %}
        <div class="position-relative" style="height: 80vh;">
          <div class="font-weight-bold center text-center text-muted">
            <span class="icon-search" style="font-size: 60px;"></span>
            <h5 class="mt-3">No results found for "{{ request.GET.q }}"</h5>
          </div>
        </div>
      {% endif %}
    {% endif %}
    
  </div>
{% endblock %}
{% block javascript %}
  <script>
    if(!!window.IntersectionObserver){
      let observer = new IntersectionObserver((entries, observer) => { 
        entries.forEach(entry => {
          if(entry.isIntersecting){
              console.log(entry);
              entry.target.src = entry.target.dataset.src;
              observer.unobserve(entry.target);
          }
        });
      }, {rootMargin: "0px 0px 0px 0px"});
      document.querySelectorAll('.lazy').forEach(img => { observer.observe(img)});
    }

    $(document).ready((e)=>{
      function addLocation(){
        $('#pagination').find('*').each(function() {
            let url  = new URL(window.location.href)
            let params = url.searchParams;
            params.set('page', $(this).data('page'));
            $(this).attr('href', url)
        })
      }
      if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(addLocation);
      }
    })

    $('.save').click((e)=>{
    if("{{ request.user.is_authenticated }}" == "False"){
        window.location.href = "{% url 'login' %}"
    } else if("{{ request.user.email_is_verified }}" == "False") {
        window.location.href = "{% url 'verify-email' %}"
    } else {
      const save = $(e.currentTarget)
      if (save.html === 'Saved') {
        save.html('Save For Later');
      } else {
        save.html('Saved');
      };
      $.ajax({
          method: 'POST',
          url: save.data('save'),
          data:{
              csrfmiddlewaretoken: "{{ csrf_token }}",
          },
          success: (response)=>{
            if(response === "saved"){
              save.html('Saved');
              save.removeClass('not-saved').addClass('saved')
              $('.success').html('Product Saved');
              $('.success').show();
              $('.success').delay(5000).fadeOut(300);
            } else{
              save.html('Save For Later');
              save.removeClass('saved').addClass('not-saved')
            }
          },
          error: ()=>{
            alertDanger()
          }
      })
    }
});
  </script>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}