.main-container {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
#div_id_image, #div_id_low_image {
    position: absolute;
    visibility: hidden;
}
.max-btn {
    width: 100%;
    max-width: 500px;
    background-color: rgb(123, 59, 241);
    border-color: rgb(123, 59, 241);
    color: #ffffff;
}
.max-btn:focus {
    background-color: rgb(123, 59, 241) !important;
}
.max-btn:hover {
    color: #ffffff;
    background-color: rgb(92, 35, 197);
    border-color: rgb(92, 35, 197);
}
.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal img {
    display: block;
  /* This rule is very important, please don't ignore this */
  max-width: 100%
}
.preview-div {
    width: 100%;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}
#preview {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    background-color: rgb(235, 235, 235);
}
#preview:hover {
    cursor: pointer;
    transition: all 0.01s ease 0.01s;
    opacity: .7
}
#preview img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}