.max-btn {
    width: 100%;
    max-width: 500px;
    background-color: #5865F2;
    border-color: #5865F2;
    color: #ffffff;
}
.btn.max-btn:focus {
    background-color: #5865F2 !important;
}
.max-btn:hover {
    background-color: rgb(92, 35, 197);
    border-color: rgb(92, 35, 197);
}