.max-btn {
    width: 100%;
    max-width: 500px;
    background-color: rgb(120, 60, 245);
    border-color: rgb(120, 60, 245);
    color: #ffffff;
}
.btn.max-btn:focus {
    background-color: rgb(120, 60, 245) !important;
}
.max-btn:hover {
    background-color: rgb(92, 35, 197);
    border-color: rgb(92, 35, 197);
}