<div style="background-color: #a9a9a9">
    <div style="margin: 10px; padding: 10px;">
        <h2 style="padding: 10px; background-color: #5865F2; color: #ffffff; border-top-left-radius: 10px; border-top-right-radius: 10px;">Password Reset</h2>
        <p>You're receiving this email because you requested a password reset for your user account at RadarLens.</p>
        <p>Please click the button below and choose a new password</p>
        <br>
        <a href="https://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" style="border: 0; color: #ffffff; background-color: #5865F2; margin: 20px 0px; padding: 15px; font-weight: bold; text-decoration: none; border-radius: 5px;">
            Reset Password
        </a>
        <br>
        <p style="margin-top: 10px;">Or you can copy the link below to your browser</p>
        <p>https://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</p>
        <p>The RadarLens Team</p>
    </div>
    <div style="text-align: center; margin-top: 10px;">
        <p>© {% now 'Y' %} <a href="https://radarlens.com">RadarLens</a> · <a href="{% url 'privacy-policy' %}">Privacy Policy</a></p>
        <p>Follow us on <a href="https://twitter.com/radarlensHQ">Twitter</a></p>
    </div>
</div>