{% extends 'base2.html'  %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Reset Password
{% endblock %}

{% block content %}
    <div class="text-center mt-4 mb-4">
        <a href="/" class="d-flex justify-content-center">
            <img src="{% static 'images/logo-32.png' %}" class="mr-2" style="height: 30px" alt="Logo">
            <h4><span style="color: #5865F2;">radar</span><span style="color: #FEA000">lens</span></h4>
        </a>
        <h3 class="mt-5">Password reset</h3>
    </div>
    <div class="container rounded">
        <form method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="form-group">
            <input class="btn btn-outline-primary max-btn" type="submit" value="Reset Password">
            </div>
        </form>
    </div>
    <p class="text-center text-muted mt-4">© {% now 'Y' %} RadarLens · <a href="{% url 'privacy-policy' %}">Privacy Policy</a></p>
    <p class="text-center mb-4"><a href="{% url 'contact' %}">Write feedback</a></p>
{% endblock %}