<div style="background-color: #e6e6e6"></div>
    <div style="margin: 10px;">
        <h1 style="padding: 10; background-color: #5865F2; color: #ffffff;">Password Reset</h1>
        <p>You're receiving this email because you requested a password reset for your user account at RadarLens.</p>
        <br>
        <p>Please click the button or link below and choose a new password</p>
        <br>
        <a href="https://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" style="border: 0; color: #ffffff; background-color: #5865F2; margin: 10px; padding: 10px; font-weight: bold; text-decoration: none; border-radius: 5px;">
            Reset Password
        </a>
        <br>
        <p>https://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</p>
        <br>
        <p>The RadarLens Team</p>
    </div>
    <div style="text-align: center">
        <p>© {% now 'Y' %} <a href="https://radarlens.com">RadarLens</a> · <a href="{% url 'privacy-policy' %}">Privacy Policy</a></p>
        <p>Follow us on <a href="https://twitter.com/radarlensHQ">Twitter</a></p>
    </div>
</div>