{% extends 'base2.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Sign Up
{% endblock %}

{% block description %}
    Sign up for radarLens
{% endblock %}

{% block open_graph %}
  <meta name="twitter:card" content="summary" />
  <meta property="og:title" content="Sign Up | RadarLens" />
  <meta property="og:description" content="Sign Up on RadarLens" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{% url 'signup' %}" />
  <meta property="og:image" content="https://radarlens.com/static/images/meta-image.jpg" />
{% endblock %}

{% block analytics %}
<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window,document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
   fbq('init', '1021552721888157'); 
  fbq('track', 'PageView');
  fbq('track', 'CompleteRegistration');
  </script>
  <noscript>
   <img height="1" width="1" 
  src="https://www.facebook.com/tr?id=1021552721888157&ev=PageView
  &noscript=1"/>
  </noscript>
  <!-- End Facebook Pixel Code -->
{% endblock %}

{% block content %}
    <div class="d-none">
        <h1>Sign Up</h1>
        <p>Sign up on RadarLens. Create a Profile for your Business. Find Small businesses near you. © {% now 'Y' %} RadarLens</p>
    </div>
    <div class="text-center mt-4 mb-4">
        <a href="/" class="d-flex justify-content-center">
            <img src="{% static 'images/logo-32.png' %}" class="mr-2" style="height: 30px" alt="Logo">
            <h4><span style="color: #5865F2;">radar</span><span style="color: #FEA000">lens</span></h4>
        </a>
        <h4 class="mt-5">Sign Up</h4>
    </div>
    <div class="container rounded">
        {% if form.non_field_errors %}
            {% for message in form.non_field_errors %}
                <div class="alert alert-danger text-center mt-2">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {{ form.name |as_crispy_field }}
            {{ form.email |as_crispy_field }}
            <div class="position-relative">
                {{ form.password |as_crispy_field }}
                <span id="toggle" class="position-absolute rounded pl-1 pr-1"><small>hide</small></span>
            </div>
            
            <input class="btn btn-primary max-btn mb-2" type="submit" value="Sign Up" id="submit">
            
        </form>
        <p class="text-center text-muted mt-2">Already have an account? <a href="{% url 'login' %}" id="login">Login</a></p>
    </div>
    <p class="text-center text-muted mt-4">© {% now 'Y' %} RadarLens · <a href="{% url 'privacy-policy' %}">Privacy Policy</a></p>
    <p class="text-center mb-4"><a href="{% url 'contact' %}">Write feedback</a></p>
{% endblock %}

{% block javascript %}
<script>
    const parameters = window.location.search;
    const urlParams = new URLSearchParams(parameters);
    if (urlParams.has('next')){
        const next = urlParams.get('next');
        document.getElementById('login').href = `{% url 'login' %}?next=${next}`;
    }
    const password = document.querySelector('#id_password');
    const submit = document.querySelector('#submit');
    const togglePassword = document.querySelector("#toggle");     
    togglePassword.addEventListener('click', function (e) {
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        const text = togglePassword.textContent === 'show' ? 'hide' : 'show';
        togglePassword.innerHTML = `<small>${text}</small>`
    })
</script>
{% endblock %}