{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Contact Us | RadarLens
{% endblock %}

{% block description %}
Contact Us
{% endblock %}

{% block style %}
    <style>
        .max-btn {
            width: 100%;
            max-width: 500px;
            background-color: rgb(123, 59, 241);
            border-color: rgb(123, 59, 241);
            color: #ffffff;
        }
        .max-btn:focus {
            background-color: rgb(123, 59, 241) !important;
        }
        .max-btn:hover {
            color: #ffffff;
            background-color: rgb(92, 35, 197);
            border-color: rgb(92, 35, 197);
        }
        footer {
            background-color: rgb(41, 40, 40);
            color: #fff;
        }
        footer a:hover {
            text-decoration: underline;
        }
        .social a {
            color: #fff !important;
            padding-left: 15px;
            font-size: 20px;
        }
        .quick-links a {
            display: block;
            color: #fff;
            padding: 10px 0px;
        }
        .links a {
            color: #fff;
        }
    </style>
{% endblock %}

{% block content %}

<div id="main-div">
    <div class="bg-white p-3">
        <h3 class="mb-4 mt-2">Write feedback</h3>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} text-center">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="text-center mb-4">
                <input type="submit" class="btn max-btn" name="Submit">
            </div>
        </form>
    </div>
</div>

<footer class="p-4">
    <a href="/">
      <img src="{% static 'images/logo-32.png' %}" class="mr-2 mb-2" style="height: 30px" alt="Logo">
      <h4 style="display: inline" class="pt-2"><span style="color: #ffffff;">radarLens</span></h4>
    </a>
    <div class="quick-links mt-4 mb-4">
        <h5 class="mb-3" style="color: #28a745;">FEATURES</h5>
        <a href="{% url 'create-business' %}">Create Business Profile</a>
        <a href="{% url 'signup' %}" class="">Sign Up</a>
        <a href="{% url 'login' %}">Login</a>
        <h5 class="mb-3 mt-4" style="color: #28a745;">COMPANY</h5>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'contact' %}">Contact</a>
        <a href="/sitemap.xml">Sitemap</a>
        <h5 class="mb-3 mt-4" style="color: #28a745;">LEGAL</h5>
        <a href="{% url 'privacy-policy' %}">Privacy Policy</a>
    </div>
    <div class="social d-flex justify-content-center mb-2">
      <a href="https://facebook.com/radarlensHQ">
          <span class="icon-facebook"></span>
      </a>
      <a href="https://twitter.com/radarlensHQ">
          <span class="icon-twitter"></span>
      </a>
      <a href="https://youtube.com/channel/radarlensHQ">
          <span class="icon-youtube"></span>
      </a>
      <a href="https://linkedin.com/company/radarlens">
          <span class="icon-linkedin"></span>
      </a>
      <a href="https://instagram.com/radarlensHQ">
          <span class="icon-instagram"></span>
      </a>
  </div>
  <p class="text-center">© {% now 'Y' %} RadarLens</p>
  </footer>

{% endblock %}